<div class="product-item" [class.completed]="product.completed">
    <a [routerLink]="['/product', product.id]">
        <img src="{{product.image_url}}">
        <span class="title">{{product.title}}</span>
    </a>
    <div class="actions" [hidden]="!addableToCart">
        <button class="add_to_cart icon" (click)="onAddingToCart()">
            <i class="material-icons">add shopping cart</i>
        </button>
    </div>
</div>