<div class="basket-item">
    <a [routerLink]="['/product', basketElement.id]">
        <img src="{{basketElement.image_url}}">
        <span class="title">{{basketElement.title}}</span>
    </a>
    <div class="actions">
        <button class="add_to_cart icon" (click)="onRemoveFromCart()">
            <i class="material-icons">delete</i>
        </button>
    </div>
</div>