.product-page {
    width: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    background-color: white;
    padding: 10px;
}

.product-page img {
    margin: auto;
    max-width: 300px;
}