<form class="reg-form" (ngSubmit)="onSubmit(); userForm.reset()" #userForm="ngForm">
    <table>
        <tr><td><label>Имя</label></td><td><input type="text" name="name" [(ngModel)]="name" required></td></tr>
        <tr><td><label>Логин</label></td><td><input type="text" name="login" [(ngModel)]="login" required></td></tr>
        <tr><td><label>Пароль</label></td><td><input type="password" name="password" [(ngModel)]="password" required></td></tr>
        <tr><td><label>Еще раз пароль</label></td><td><input type="password" name="password_repeat" [(ngModel)]="password_repeat" required></td></tr>
        <tr><td></td><td><button type="submit" [disabled]="userForm.form.invalid">Регистрация</button></td></tr>
    </table>
</form>